header.spa-shell-head {
    padding: 4px;
    height: 40px;
}

footer.spa-shell-foot {
    height: 40px;
}

.spa-shell-main {
    height: 90%;
}

.spa-shell-chat {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 15px;
    background: red;
    cursor: pointer;
    border-radius: 6px 0 0 0;
    margin-right: 12px;
    z-index: 1;
}

.spa-shell-chat:hover {
    background: #a00;
}

.spa-shell-modal {
    width: 50%;
    height: 50%;
    top: 40%;
    left: 40%;
}
