header.spa-shell-head {
    padding: 4px;
    height: 40px;
}

footer.spa-shell-foot {
    height: 40px;
}

.spa-shell-main {
    height: 90%;
}

.spa-shell-modal {
    width: 50%;
    height: 50%;
    top: 40%;
    left: 40%;
}
