.spa-chat {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 28px;
    width: 24em;
    background: red;
    cursor: pointer;
    border-radius: 6px 0 0 0;
    margin-right: 12px;
    z-index: 1;
    overflow: hidden;
    transition: height 1s ease-out;
}

.spa-chat:hover {
    background: #a00;
    border-radius: 4px;
}

.spa-chat-head, .spa-chat-closer {
    padding: 0 4px;
    top: 0;
    height: 2em;
    line-height: 1.8em;
    border-bottom: thin solid #888;
    cursor: pointer;
    background: #888;
    color: white;
    font-weight: 800;
    text-align: center;
}

.spa-chat-head {
    border-radius: 0.3em 0 0 0;
    width: 100%;
}

.spa-chat-sizer {
    position: relative;
    height: 332px;
}

.spa-chat-msgs-form > input[type=submit] {
    display: none;
}

.spa-chat-box {
    position: absolute;
    bottom: 0;
}

aside.spa-chat-list {
    width: 20%;
    padding: 4px;
}

.spa-chat-msgs-log {
    padding: 4px;
    width: 80%;
}

main.spa-chat-msgs > * {
    display: inline-block;
}
