header.spa-shell-head {
    padding: 4px;
    height: 100px;
}

.spa-shell-head-acct, .spa-shell-head-search {
    top: 80%;
}

footer.spa-shell-foot {
    height: 40px;
}

.spa-shell-main {
    height: 90%;
}

.spa-shell-main-content .spa-shell-main-nav {
    height: 100%;
}


.spa-shell-modal {
    width: 50%;
    height: 50%;
    top: 40%;
    left: 40%;
}
