{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    {% block more_css %}{% endblock %}
    <script src="{% static 'js/jquery.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/underscore.js' %}" type="application/javascript"></script>
  </head>
  <body>
    <div class="container-fluid">
      {% block content %}{% endblock %}
      <address>
	<a href="mailto:Jiaji@H4CKB0X-HOME"></a>
      </address>
      <script src="{% static 'js/bootstrap.js' %}" type="application/javascript"></script>
      {% block more_js %}{% endblock %}
      <script type="application/javascript">
	{% block d3 %}{% endblock %}
      </script>
    </div> <!-- end container -->
  </body>
</html>
