div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    margin: 1px;
    background-color: teal;
}

svg {
    margin: 20px;
    display: block;
}

svg rect.bar {
    stroke: teal;
    transition: all 0.2s;
    /* fill: blue; */
}

svg rect.bar:hover {
    fill: orange;
}

svg text.bar {
    font-family: sans-serif;
    font-size: 11px;
    fill: white;
    text-anchor: middle;
    pointer-events: none;
}

svg text.scatter {
    font-family: sans-serif;
    font-size: 11px;
    fill: red;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

line {
    stroke: #ccc;
    stroke-width: 1;
}

g.state text {
    font-size: 9px;
    text-anchor: middle;
}

path {
    stroke: black;
}

g.state:hover {
    cursor: pointer;
    filter: url(#shadow);
    overflow: visible;
}
