div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;
    margin: 1px;
    background-color: teal;
}

svg {
    margin: 20px;
    display: block;
}

svg rect.bar {
    stroke: teal;
    fill: blue;
}

svg text.bar {
    font-family: sans-serif;
    font-size: 11px;
    fill: white;
    text-anchor: middle;
}

svg text.scatter {
    font-family: sans-serif;
    font-size: 11px;
    fill: red;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}